body {
    font-family: Arial, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #5644df;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #ec6d78;
    color: #f9f8f8;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.review {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.review p {
    margin: 0;
}